[submodule "lv2"]
	path = lv2
	url = https://github.com/lv2/lv2
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "NeuralAmpModelerCore"]
	path = NeuralAmpModelerCore
	url = https://github.com/mikeoliphant/NeuralAmpModelerCore
	branch = devel
